/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #33475b;
  background: #f5f8fa;
  font-family: 'Montserrat', sans-serif;
  width: 1500px;
}

main {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  font-size: 33px;
  margin-bottom: 30px;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  line-height: 25px;
}

ul li .all {
  color: #FF7A59;
  margin-right: 15px;
}

.main-container {
  width: 70%;
  margin: auto;
}

/* HEADER */

/* TOP-NAVIGATION */
.top-navigation {
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: 2px solid #33475b;
}

.top-navigation::after {
  content: "";
  display: table;
  clear: both;
}

.language {
  width: 50%;
  line-height: 30px;
  padding-bottom: 20px;
  float: left;
}

.language .lang-1 {
  border-right: 2px solid;
  padding-right: 20px;
}

.language .lang-2 {
  padding-left: 20px;
}

.group-buttons {
  width: 50%;
  float: right;
  text-align: right;
  margin-bottom: 10px;
}

.group-buttons .icon {
  margin: 0 10px 0;
}

.group-buttons .icon {
  color: #45c8dd;
  font-size: 13px;
}

button[type="button"] {
  margin: 0 1px 0 13px;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #FF7A59;
  background-color: #FF7A59;
  color: #fff;
}

.group-buttons .button-1 {
  background-color: #fff;
  color: #FF7A59;
}

/* MENU-NAVIGATION */

.menu-navigation {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 20px;
}

.menu-navigation::after {
  content: "";
  display: table;
  clear: both;
}

.logo-web {
  width: 49%;
  float:left;
}

.main-nav {
  text-align: right;
  width: 51%;
  float:right;
  margin-top: 5px;
}

.main-nav .menu li {
  display: inline-block;
  margin: 0 1px 0 27px;;
}

.main-nav .menu li a {
  color: #33475b;
  text-decoration: none;
  line-height: 30px;
}

/* DESCRIPTION-NAVIGATION */

.description-navigation{
  background-color: #fff6ef;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 695px;
  padding-top: 45px;
  position: relative;
}

.description-navigation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #afebe4;
  border-top: 3px solid #33475c;
  border-bottom: 3px solid #33475c;
}


.title-navigation {
  width: 50%;
}

.text-title1 {
  margin-bottom: 25px;
}

.title-navigation .button-3 {
 padding: 15px;
 margin: 0 0 25px 0;
}

.title-navigation .text-title2 {
  font-size: 12px;
}

/* ----------------MAIN-------------------- */

/* IMG-TEXT */

.img-text img {
  width: 220px;
  height: 170px;
  margin-top: 30px;
}

.top-main .main-container .img-text p {
  margin: 0 10%;
}

/* LEARN-TEXT */

.top-main {
  margin-bottom: 40px;
}

.important {
  background-color: #fff;
  border-color: #33475b1f;
  border-radius: 6px;
  box-shadow: 0 0 1px;
}

.learn-text {
  padding: 50px;
  margin: 50px 0;
  height: 270px;
}

.learn-text::after {
  content: "";
  display: table;
  clear: both;
}

.learn-text .text-feature {
  float: right;
  text-align: left;
  width: 70%;
}

/* IMG-LEFT */

.learn-text .img-left {
  float: left;
  width: 30%;
  height: 200px;
  position: relative;
}

.learn-text .img-left img {
  width: 110px;
  position: absolute;
  left: 20%;
}

.img-left .button-2 {
 padding: 12px 20px;
 margin: 25px 0 0 0;
 position: absolute;
 top: 40%;
 right: 42%;
}

/* TEXT-FEATURE */

.learn-text .text-feature h3,
.learn-text .text-feature p {
  margin-bottom: 20px;
}

.learn-text .text-feature li {
  display: inline-block;
}

.learn-text .text-feature li a {
  color: #33475b;
  font-size: 14px;
  text-decoration: none;
  line-height: 30px;
  margin-right: 20px;
}

/* TEXT-POPULAR */

.text-popular::after {
  content: "";
  display: table;
  clear: both;
}

.text-popular .marketing,
.text-popular .sales,
.text-popular .service {
  float:left;
}

.text-popular .marketing,
.text-popular .sales,
.text-popular .service {
  width: 30%;
}

.text-popular .marketing {
  margin-right: 5%;
}

.text-popular .sales {
  margin-right: 5%;
}

.text-top {
  width: 80%;
  margin: 20px 32px 0;
  border-bottom: 1px solid #33475b;
}

.text-bottom {
  width: 80%;
  margin: 27px 32px 20px;
}

.text-top img {
  width: 110px;
  height: 80px;
  margin-bottom: 20px;
}

.text-top img,
.text-top h3 {
  margin-bottom: 20px;
}

.text-bottom h5 {
  margin-top: 15px;
}

.text-bottom li {
  color: #33475b;
  font-size: 13px;
  list-style: none;
  text-align: left;
}

button[class="button-2"] {
  padding: 12px 20px;
  margin: 35px;
}

/* MIDDLE */

.middle-main {
  color: #fff;
  background: linear-gradient(45deg, rgba(0,164,189,1), rgba(0,189,165,1));
  width: 100%;
  height: 600px;
  padding-top: 40px;
}

.middle .title-text p {
  line-height: 25px;
}

.middle .general-info {
  margin-top: 40px;
}

.general-info::after {
  content: "";
  display: table;
  clear: both;
}

.general-info .info {
  width: 25%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  float: left;
}

.general-info .box5,
.general-info .box6,
.general-info .box7,
.general-info .box8 {
  border-bottom-style: hidden;
}

.general-info .box4,
.general-info .box8 {
  border-right-style: hidden;
}

.info .text-box {
  margin: 15px 50px;
  text-align: center;
}

.text-box h2::after {
  content: "+";
  font-size: 17px;
  margin-left: 5px;
  vertical-align: middle;
}

.text-box img {
  width: 100px;
  height: 35px;
}

.text-box p {
  font-size: 12px;
}

.text-box h2 {
  margin: 10px 0 10px 0;
}

/* BOTTOM */

.companies {
  width: 100%;
  height: 600px;
  margin-bottom: 25px;
}

.companies .main-container::after {
  content: "";
  display: table;
  clear: both;
}

.main-container .countries {
  float: left;
}

.main-container .text-companies{
  width: 30%;
  padding: 40px 0 0 0;
}

.main-container .text-companies p{
  padding: 0 55px 0 60px;
}

.main-container .logo-companies {
  width: 70%;
  height: 250px;
  position: relative;
}

.logo-companies .table-companies {
  width: 480px;
  position: absolute;
  top: 60px;
  left: 20%;
}

.logo-companies .table-companies::after {
  content: "";
  display: table;
  clear: both;
}

.table-companies .table {
  float:left;
  width: 25%;
}

.table-companies .table img {
  width: 100px;
  height: 20px;
  margin-top: 15px;
}

.main-container .start-companies {
  width: 45%;
  text-align: left;
  margin-top: 30px;
}

.main-container .start-companies .text-title2 {
  font-size: 12px;
}

.main-container .start-companies .button-2 {
  margin: 5px 0 30px 0;
}

.main-container .photo {
  width: 55%;
  position: relative;
}

.main-container .photo img {
  width: 270px;
  height: 320px;
  position: absolute;
  right: 0;
  top: 0px;
}

/* FOOTER */

.start-footer {
  color: #f5f8fa;
  background: #33475b;
  width: 100%;
  height: 490px;
  padding: 20px 0;
}

.main-container .top-footer::after {
  content: "";
  display: table;
  clear: both;
}

.top-footer .list {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.top-footer .list p {
  margin: 10px 0;
}

.top-footer .list ul li {
  list-style: none;
  line-height: 30px;
}

.top-footer .list ul li a {
  color: #f5f8fa;
  text-decoration: none;
  font-size: 13px;
}

.top-footer .list ul li button {
  color: #33475b;
  background: #f5f8fa;
  font-size: 12px;
  margin: 12px 0 12px 0;
  border-color: #f5f8fa;
}

.footer-social ul li{
  display:inline-block;
}

.footer-social ul li a i{
  font-size: 15px;
  margin-right: 14px;
}

.main-container .languages-footer {
  text-align: center;
  border-bottom: 1px solid #f5f8fa;
  padding-bottom: 20px;
  margin-top: 25px;
}

.main-container .languages-footer ul li {
  display:inline-block;
}

.main-container .languages-footer ul li a{
  color: #f5f8fa;
  text-decoration: none;
  font-size: 13px;
  margin-right: 20px;
}

.main-container .info-footer {
  padding: 30px 0;
}

.main-container .info-footer::after {
  content:"";
  display: table;
  clear: both;
}

.info-footer .logo-footer {
  float: left;
}

.info-footer .privacy-footer {
  float: right;
}

.info-footer .privacy-footer ul li {
  display:inline-block;
  }

.info-footer .privacy-footer ul li a {
  color: #f5f8fa;
  text-decoration: none;
  margin-left: 20px;
}
